*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.box{
    background-color: white;
    height: 300px;
    width: 500px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    padding:20px;
   
    
    p{
        padding-bottom: 30px;
    }

    .outer{
        height: 15px;
        width:100%;
        background-color: rgb(169, 168, 168);
       
        .inner{
            height: 100%;
            width: 0;
            background-color: rgb(9, 130, 45);
            border-radius: 2rem;
        }

    }

    .div2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem;
        
      h1{
        font-size: 4rem;
      }

         button{
       
        padding: 1rem;
        background-color: blue;
        color: white;
        border:none;
    }
    }

   
}